// Layout
$min-width-lg: 1200px;
$min-width-md: 768px;

// Color Variables
$white: #ffffff;
$white-smoke: #f1f1f1;
$white-dark-smoke: #eef0f7;
$gray-light: #d0d0d0;
$gray: #333333;
$black: #000000;
$footer-color: #2e2e2e;
$tint: rgba(21, 22, 26, 0.78);
$white-transparent: rgba(255, 255, 255, 0.74);