@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700&display=swap&subset=cyrillic');

// Fonts
$fontDefault: "Montserrat", Helvetica, Arial, sans-serif;

// Font Weights
$thin: 300;
$normal: 400;
$bold: 700;

body {
  font-family: $fontDefault;
  font-weight: $normal;
  font-size: 14px;
  line-height: 1.7;
  color: $gray;
  overflow-x: hidden;
}

.h1, .h2, .h3, h1, h2, h3 {
  font-weight: $normal;
  margin: 10px 0;
}

h1, .h1 {
  font-size: 1.8em;
  color: $black;
}

h2, .h2 {
  font-size: 1.6em;
  color: $black;
}

h3, .h3 {
  font-size: 1.4em;
  color: $black;
}

h4, .h4 {
  font-size: 1.2em;
  color: $black;
}