div.page-title {
  margin-top: $size-md;
}

.content-layout {
  h1, .h1 {
    color: $footer-color;
  }

  picture {
    img[data-responsive-image-style="narrow"] {
      width: 100%;
    }
  }

  .price {
    font-size: $fontsize-price;
  }

  .field--type-image.field__items {
    > .field__item {
      float: left;
      padding: 5px 5px 10px 0;

      img {
        border: #d8d8d8 solid 1px;
        padding: 5px;
      }
    }

    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }
}
